.bgform{
    background-color: var(--bg2);
}

.fontc{
    color: var(--5t) !important;
}

.btf{
    background-color: var(--bg5);
    color: var(--2t);
    border: none;
    width: 40%;
    border-radius: 30px;
    padding: 5px;
}

.link{
    color:rgb(55, 61, 54);
    
}
.link:hover{
    color: var(--2t);
}

input{
    background-color: var(--bg3) !important;
    border: none !important;
}

input:focus::placeholder{
    font-size: 13px;
    transition: font-size 0.5s ease;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fontc:focus{
    box-shadow: 0 0 0 .25rem rgba(153, 161, 177, 0.7) !important;
    border-color: var(--bg3) !important;
}

input::placeholder{
    font-size: 15px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
  display: none;
}

input:focus::-webkit-outer-spin-button,
input:focus::-webkit-inner-spin-button {
  -webkit-appearance: auto;
    display: block;
}

body{
    margin: 0;
    padding: 0;
}

