.acc{
    display: flex;
    justify-content: end;
    padding: 15px;
    
}

.icon{
    font-size:30px;
}

.icondrop{
    font-size: 20px;
}

.display{
    display:none;
}

.nav-item:hover{
    transform: translateX(25px);
    transition: all 0.3s ease-in-out;
    list-style: upper-roman;
}

.nav-item::marker{
    color: var(--1t);
    font-size: larger;
}

.iconperfil{
    font-size: 40px;
}

.perfil:hover{
    cursor: pointer;
    transform: scale(0.95);
    transition: all 0.4s ease-in-out;
}