.acc{
    display: flex;
    justify-content: end;
    padding: 15px;
    
}

.icon{
    font-size:30px;
    color: var(--1t);
}

.icondrop{
    font-size: 20px;
    color: var(--1t);
}

.display{
    display:none;
}

.ofcbody{
        --bg1: #254B7C;
    background-color: var(--bg1) !important;
}
