body {
    padding:7vh 20px;
    --bg1: #273127;
    --bg2: #89908A;
    --bg3: #98A095;
    --bg4: #848F84;
    --bg5: #F5EAE3;
    --5t: #646464;
    --2t: #2A2A2A;
    --1t: #F1F1F2;
    
}

.backgroundf {
    background-color: var(--bg1);
    
}

.bgcont {
    
    height: 78vh;
    
}

.scrolly{
    overflow: auto;
    scrollbar-color: #B0B199 transparent;
    overflow-x: hidden;
    scrollbar-width: thin;
}

html {
    margin: 0;
    padding: 0;
    overflow: hidden;
}


.montserrat {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  color: var(--1t);
}
